body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-color: #E0E0E0; /* Fondo de la página */
}

.container_header {
    background-color: #F5CF65; /* Color del header */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    padding-right: 30px; /* Reducir el padding derecho para ajustar el menú */
}

.container_header h2 {
    margin: 0;
}

.container_header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    padding-left: 30px; /* Agregar padding a la izquierda para centrarlos más */
}

.container_header nav ul li a {
    text-decoration: none;
    color: #333;
}

.background {
    background-image: url('Imagenes/Banner.png'); 
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: right center; 
    height: 60vh; 
    display: flex;
    align-items: center; 
    padding-top: 80px; 
    padding-left: 20px; 
}

.form-container {
    background-color: rgba(128, 128, 128, 0.5); 
    padding: 20px 20px; 
    border-radius: 10px;
    width: 380px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.form-container .form h3 {
    margin-top: 0;
    text-align: center;
}

.input {
    width: 100%;
    padding: 8px; 
    margin: 5px 0; 
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Efecto hover para el botón */
.primary-button {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease; /* Añadir transición */
}

.primary-button:hover {
    background-color: transparent; /* Se vuelve transparente */
    color: #333; /* Cambia el color del texto al color del fondo */
    border: 1px solid #333; /* Añadir un borde cuando es transparente */
    opacity: 0.8; /* Ligera transparencia */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
}

.privacy-policy {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.privacy-policy input[type="checkbox"] {
    margin-right: 10px;
}

.legal-text {
    font-size: 10px; 
    margin-top: 10px; 
    line-height: 1.2; 
    text-align: justify;
}

.legal-text a {
    color: #333;
    text-decoration: underline;
}

.info-section {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #f5f5f5;
}

.info-item {
    text-align: center;
    max-width: 150px; 
}

.info-item img {
    width: 50px; 
    height: 50px; 
    margin-bottom: 10px;
}

.info-item h4 {
    margin-bottom: 10px;
    font-size: 16px; 
    color: #333;
}

.info-item p {
    font-size: 12px; 
    color: #555;
}